<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="localCacheScope" value="STATEMENT" />  <!-- TODO 一级缓存，调研下推荐用法 -->
		<setting name="cacheEnabled" value="true" />   <!-- TODO 二级缓存，调研下推荐用法 -->
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	<environments default="develop">
		<environment id="develop">
			<transactionManager type="jdbc" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://127.0.0.1:3306/log_demo" />
				<property name="username" value="root" />
				<property name="password" value="root" />
				<!-- 初始化连接大小 -->
				<property name="initialSize" value="5" />
				<!-- 连接池最大数量 -->
				<property name="maxActive" value="20" />
				<!-- 连接池最大空闲 -->
				<property name="maxIdle" value="5" />
				<!-- 连接池最小空闲 -->
				<property name="minIdle" value="2" />
				<!-- 获取连接最大等待时间 -->
				<property name="maxWait" value="60000" />
				<!-- 8小时问题，获取连接时检查有效性 -->
				<property name="validationQuery" value="SELECT 1" />
				<property name="testOnBorrow" value="true" />
			</dataSource>
		</environment>
		<environment id="test">
			<transactionManager type="jdbc" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"    value="jdbc:mysql://10.120.153.127:3306/loganalystic" />
				<property name="username" value="test" />
				<property name="password" value="xTZtJBS0cCZnJZeu" />
				<!-- 初始化连接大小 -->
				<property name="initialSize" value="5" />
				<!-- 连接池最大数量 -->
				<property name="maxActive" value="20" />
				<!-- 连接池最大空闲 -->
				<property name="maxIdle" value="5" />
				<!-- 连接池最小空闲 -->
				<property name="minIdle" value="2" />
				<!-- 获取连接最大等待时间 -->
				<property name="maxWait" value="60000" />
				<!-- 8小时问题，获取连接时检查有效性 -->
				<property name="validationQuery" value="SELECT 1" />
				<property name="testOnBorrow" value="true" />
			</dataSource>
		</environment>
		<environment id="online">
			<transactionManager type="jdbc" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://10.164.160.77:3306/ptponline" />
				<property name="username" value="ptponline" />
				<property name="password" value="AWIpshzJFGJp" />
				<!-- 初始化连接大小 -->
				<property name="initialSize" value="5" />
				<!-- 连接池最大数量 -->
				<property name="maxActive" value="20" />
				<!-- 连接池最大空闲 -->
				<property name="maxIdle" value="5" />
				<!-- 连接池最小空闲 -->
				<property name="minIdle" value="2" />
				<!-- 获取连接最大等待时间 -->
				<property name="maxWait" value="60000" />
				<!-- 8小时问题，获取连接时检查有效性 -->
				<property name="validationQuery" value="SELECT 1" />
				<property name="testOnBorrow" value="true" />
			</dataSource>
		</environment>
		<environment id="bjonline">
			<transactionManager type="jdbc" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://10.102.129.6:3306/watchlog" />
				<property name="username" value="watchlogbj" />
				<property name="password" value="qatest_123456-bj" />
				<!-- 初始化连接大小 -->
				<property name="initialSize" value="5" />
				<!-- 连接池最大数量 -->
				<property name="maxActive" value="20" />
				<!-- 连接池最大空闲 -->
				<property name="maxIdle" value="5" />
				<!-- 连接池最小空闲 -->
				<property name="minIdle" value="2" />
				<!-- 获取连接最大等待时间 -->
				<property name="maxWait" value="60000" />
				<!-- 8小时问题，获取连接时检查有效性 -->
				<property name="validationQuery" value="SELECT 1" />
				<property name="testOnBorrow" value="true" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="data-mapper/LogSourceDao.xml" />
		<mapper resource="data-mapper/ExceptionDao.xml" />
		<mapper resource="data-mapper/UkExceptionDataDao.xml" />
		<mapper resource="data-mapper/ExceptionDataDao.xml" />
		<mapper resource="data-mapper/NginxAccessDao.xml" />
	</mappers>
</configuration> 