<?xml version="1.0" encoding="UTF-8"?>   
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
        xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"  
        xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:aop="http://www.springframework.org/schema/aop"  
        xsi:schemaLocation="   
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd   
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd   
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd   
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"> 

      <!--配置数据源属性文件  -->  
       
    <bean id="propertyConfigurer"  
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="location">  
            <value>classpath:jdbc.properties</value>
        </property>  
    </bean>
    
    
	 <!--配置数据源  -->  
    <bean id="dataSource"  
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
        <property name="driverClassName">
           <value>${jdbc.driverClassName}</value>  
        </property>
        <property name="url">
          <value>${jdbc.url}</value> 
        </property>
        <property name="username">
            <value>${jdbc.userName}</value>
        </property>
        <property name="password">
            <value>${jdbc.password}</value> 
        </property>
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> 
	    <!-- 获取mybatis的配置 -->    
        <property name="configLocation" value="classpath:mybatis-config.xml" />     
        <property name="dataSource" ref="dataSource" />     
    </bean>
	
	<!-- bean定义 -->
	<bean id="exceptionDaoBean" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.netease.qa.log.meta.dao.ExceptionDao"/>  
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>
	
	<bean id="exceptionDataDaoBean" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.netease.qa.log.meta.dao.ExceptionDataDao"/>  
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>
	
	<bean id="logSourceDaoBean" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.netease.qa.log.meta.dao.LogSourceDao"/>  
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>
	
	<bean id="projectDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.netease.qa.log.meta.dao.ProjectDao"/>  
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>
	
	<bean id="ukExceptionDataDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.netease.qa.log.meta.dao.UkExceptionDataDao"/>  
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>
	
</beans>
