<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">   
    
<configuration>
	<settings>
	     <setting name="localCacheScope" value="STATEMENT"/>  <!-- TODO 一级缓存，调研下推荐用法 -->
		<setting name="cacheEnabled" value="true" />   <!-- TODO 二级缓存，调研下推荐用法 -->
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	<environments default="development">
		<environment id="development">
			<transactionManager type="jdbc" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"  value="jdbc:mysql://127.0.0.1:3306/log_demo" />
				<property name="username" value="root" />
				<property name="password" value="123" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="data-mapper/ProjectDao.xml" />
		<mapper resource="data-mapper/LogSourceDao.xml" />
		<mapper resource="data-mapper/ExceptionDao.xml" />
		<mapper resource="data-mapper/UkExceptionDataDao.xml" />
		<mapper resource="data-mapper/ExceptionDataDao.xml" />
	</mappers>
</configuration> 